:root {
    --1: rgb(28, 27, 29);
    --2: rgb(82, 73, 79);
    --3: rgb(104, 97, 102);

    --bg: rgb(248, 241, 246);
    --rgbg: 248, 241, 246;
    --bg2: rgb(230, 223, 228);

    color-scheme: light;

    --round: 6px;
    --shadow: 4px 4px 0 var(--2);
    --border: 2px solid var(--2);
}

[data-theme="dark"] {
    --1: rgb(230, 225, 227);
    --2: rgb(80, 65, 80);
    --3: rgb(136, 127, 130);

    --bg: rgb(19, 14, 19);
    --rgbg: 19, 14, 19;
    --bg2: rgb(37, 31, 37);

    color-scheme: dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Onest", system-ui;
    color: var(--1);
}

*:focus {
    outline: none;
    /*outline: 2px dashed var(--3);*/
    /*outline-offset: 2px;*/
}

body, html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-optical-sizing: auto;
    font-style: normal;
    background: var(--bg);
    cursor: auto;
}

.top {
    margin-top: 2rem;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 1rem;
}

.cursor {
    cursor: pointer;
}

.theme-icon {
    height: 2rem;
}

a {
    text-decoration: none;
}

.underline {
    cursor: pointer;
}

.underline:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.shadow {
    box-shadow: var(--shadow);
    border: var(--border);
    border-radius: var(--round);
    background: var(--bg2);
}

.hover {
    border: var(--border);
    border-radius: var(--round);
    box-shadow: var(--shadow);
    padding: 0.6rem;
    background: var(--bg2);
}

.hover:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0 var(--2);
}

.hover:active {
    transform: translate(4px, 4px);
    box-shadow: 0 0 0 var(--2);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(var(--rgbg), 0.7);
    backdrop-filter: blur(8px);
}

header .title {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

header form {
    padding: 0 0.6rem;
}

input, textarea {
    background: none;
    font-size: 1rem;
    border: none;
    padding: 0.8rem 0;
}

input::placeholder, textarea::placeholder {
    color: var(--3);
    opacity: 1;
}

button svg {
    height: 2rem;
    width: auto;
}

#themeSwitcherButton svg {
    fill: var(--1);
}

button path {
    stroke: var(--1);
}

.content {
    width: 100%;
    min-height: calc(100vh - 8rem);
    margin-top: 5rem;
}

main h1 {
    font-size: 2rem;
    font-weight: normal;
}

.max {
    max-width: 100%;
}

.full {
    max-width: 30rem;
}

.flex img {
    width: 60%;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: 99fr 99fr 1fr 1fr;
    gap: 0 1rem;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

main label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

main textarea, main input {
    box-shadow: var(--shadow);
    border: var(--border);
    border-radius: var(--round);
    padding: 0.6rem;
    background: var(--bg2);
}

main textarea {
    resize: none;
    height: 6rem;
}

.result {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

footer {
    background: var(--bg);
    width: 100%;
}

footer div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.popup-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(var(--rgbg), 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.popup {
    background: var(--bg);
    width: 25rem;
    padding: 2rem;
    z-index: 2;
    box-shadow: var(--shadow);
    border: var(--border);
    border-radius: var(--round);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.popup2 {
    min-width: 0;
}

.grid-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.box {
    background: var(--bg2);
    border-radius: var(--round);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: fit-content;
}

.break-word {
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.rate {
    font-size: 1.2rem;
}

.space {
    justify-content: space-between;
}

.name {
    font-size: 1.8rem;
}

.menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 2rem;
    height: 20px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.square {
    display: flex;
    width: 4px;
    height: 4px;
    background-color: var(--1);
}

.menu-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.menu {
    position: absolute;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid var(--2);
}

.column {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.start {
    align-items: flex-start;
}

.column2 {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
}

.comm_note {
    font-size: 1.5rem;
    font-weight: 500;
}

.comm_date {
    color: var(--3);
}

.comm_comm {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.flex2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.result a {
    background: var(--bg2);
}

.login {
    max-width: 30rem;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.messages {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: calc((100% - 70rem) / 2 - 1rem);
}

.messages div {
    width: fit-content;
}

.index {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.welcome a {
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 0.6rem;
    background: var(--bg2);
    border-radius: var(--round);
    border: 2px solid var(--bg);
    transition: border 0.1s, transform 0.1s;
}

.welcome a:hover {
    border: 2px solid var(--2);
}

.welcome a:active {
    transform: scale(0.98);
}

.menu-popup {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    background: var(--bg);
    box-shadow: var(--shadow);
    border: var(--border);
    border-radius: var(--round);
    padding: 1rem;
    z-index: 1;
}