:root {
    --primary: 28, 27, 29;
    --secondary: 82, 73, 79;
    --bg2: 230, 223, 228;
    --bg: 248, 241, 246;
    color-scheme: light;
}

[data-theme="dark"] {
    --primary: 230, 225, 227;
    --secondary: 120, 111, 114;
    --bg2: 42, 40, 42;
    --bg: 33, 31, 33;
    color-scheme: dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Onest", system-ui;
}

*:focus {
    outline: none;
}

body, html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-optical-sizing: auto;
    font-style: normal;
    background: rgb(var(--bg));
    color: rgb(var(--primary));
    cursor: auto;
}

body {
    visibility: hidden;
}

.top {
    margin-top: 2rem;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 1rem;
}

.cursor {
    cursor: pointer;
}

.hidden {
    display: none;
}

.theme-icon {
    height: 2rem;
}

a {
    text-decoration: none;
    color: rgb(var(--primary));
}

footer a:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hover {
    outline: 2px solid rgb(var(--secondary));
}

.hover:hover {
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 0 rgb(var(--secondary));
}

.hover:active {
    transform: translate(2px, 2px);
    box-shadow: 0 0 0 rgb(var(--secondary));
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(var(--bg), 0.7);
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 0 rgb(var(--secondary));
}

header .title {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

header form {
    background: rgb(var(--bg2));
    outline: 2px solid rgb(var(--secondary));
}

header a img {
    height: 3rem;
    width: auto;
}

input, textarea {
    background: none;
    padding: 0.6rem;
    font-size: 1rem;
    border: none;
    color: rgb(var(--primary));
}

button svg {
    height: 2rem;
    width: auto;
}

#iconContainer svg {
    fill: rgb(var(--primary));
}

button path {
    stroke: rgb(var(--secondary));
}

.content {
    width: 100%;
    min-height: calc(100vh - 8rem);
    margin-top: 5rem;
}

main h1 {
    font-size: 2rem;
    font-weight: normal;
}

.max {
    max-width: 100%;
}

.full {
    max-width: 30rem;
}

.flex img {
    width: 60%;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: 99fr 99fr 1fr 1fr;
    gap: 0 1rem;
}

button {
    background: rgb(var(--bg2));
    border: none;
    cursor: pointer;
    color: rgb(var(--primary));
    font-size: 1rem;
    padding: 0.6rem;
}

header button {
    padding: 0.2rem;
}

main label {
    display: flex;
    flex-direction: column;
}

main textarea, main input {
    border: 2px solid rgb(var(--secondary));
}

main textarea {
    resize: none;
    height: 6rem;
}

.button {
    padding: 0.6rem;
}

.result {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.grid-comment a {
    background: rgb(var(--bg2));
}

footer {
    background: rgb(var(--bg));
    width: 100%;
    box-shadow: 0 -2px 0 rgb(var(--secondary));
}

footer div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.popup-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(var(--bg), 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.popup {
    background: rgb(var(--bg));
    min-width: 20rem;
    width: fit-content;
    padding: 1rem;
    border: 2px solid rgb(var(--secondary));
    z-index: 2;
}

.grid-comment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    grid-auto-flow: dense;
}

.box {
    background: rgb(var(--bg2));
    padding: 1rem 0 1rem 1rem;
    border: 2px solid rgb(var(--secondary));
    display: flex;
    gap: 1rem;
    height: fit-content;
}

.break-word {
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.rate {
    font-size: 1.2rem;
}

.space {
    justify-content: space-between;
}

.name {
    font-size: 1.8rem;
}

.menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 2rem;
    height: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
}

.box:hover .menu-button {
    opacity: 1;
}

.box:hover .square, .flex2 {
    display: flex;
}

.square {
    display: none;
    width: 4px;
    height: 4px;
    background-color: rgb(var(--primary));
}

.menu-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.menu {
    position: absolute;
    background: rgb(var(--bg));
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid rgb(var(--secondary));
}

.error {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}