:root {
    --primary: 31,35,40;
    --secondary: 255,255,255;
}

[data-theme="dark"] {
    --primary: 240,247,253;
    --secondary: 12, 16, 23;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Onest", system-ui;
}

body, html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-optical-sizing: auto;
    font-style: normal;
    background: rgb(var(--secondary));
    color: rgb(var(--primary));
    cursor: auto;
    visibility: hidden;
}

.top{
    margin-top: 2rem;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 1rem;
}

.cursor {
    cursor: pointer;
}

.hidden {
    display: none;
}

.theme-icon {
    height: 2rem;
}

a {
    text-decoration: none;
    color: rgb(var(--primary));
}

footer a:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

*:focus, .hover {
    outline: 2px solid rgb(var(--primary));
}

.hover:hover {
    transform: translate(-1px, -1px);
    box-shadow: 4px 4px 0 rgb(var(--primary));
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgb(var(--secondary));
    box-shadow: 0 2px 0 rgb(var(--primary));
}

header .title {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

header a img {
    height: 3rem;
    width: auto;
}

input, textarea {
    background: none;
    padding: 0.6rem;
    font-size: 1rem;
    border: none;
    color: rgb(var(--primary));
}

input:focus {
    outline: none;
}
button svg {
    height: 2rem;
    width: auto;
}

#iconContainer svg{
    fill: rgb(var(--primary));
}

button path {
    stroke: rgb(var(--primary));
}

.content {
    width: 100%;
    margin-top: 5rem;
    min-height: calc(100vh - 6rem);
}

main h1 {
    font-size: 2rem;
    font-weight: normal;
}

.grid {
    display: grid;
    grid-template-columns: 99fr 99fr 1fr 1fr;
    gap: 0 1rem;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(var(--primary));
    font-size: 1rem;
    padding: 0.6rem;
}

header button{
    padding: 0.2rem;
}

main label {
    display: flex;
    flex-direction: column;
}

main textarea, main input {
    border: 2px solid rgb(var(--primary));
}

main textarea {
    resize: none;
    height: 6rem;
}

main textarea:focus {
    outline: none;
}

.button{
    padding: 0.6rem;
}

.result {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer {
    width: 100%;
    box-shadow: 0 -2px 0 rgb(var(--primary));
}

footer div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.popup-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(var(--secondary), 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    background: rgb(var(--secondary));
    width: fit-content;
    padding: 1rem;
    border: 2px solid rgb(var(--primary));
}

.grid-comment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.box {
    padding: 1rem;
    border: 2px solid rgb(var(--primary));
    display: flex;
    gap: 1rem;
}

.rate{
    font-size: 1.2rem;
}

.space{
    justify-content: space-between;
}

.name{
    font-size: 1.8rem;
}