{% extends 'base.html' %}

{% block title %}{{ data['title'] }} - BooksDB{% endblock %}

{% block content %}
    <div class="flex space">
        <div>
            <h1>{{ data['title'] }}</h1>
            <p class="rate">{{ data['author'] }}, {{ data['year'] }}</p>
        </div>
        <div class="flex">
            {% if comments %}
                <p class="name">{{ average }}/5</p>
            {% endif %}
            <button class="hover" onclick="document.getElementById('comment').style.display = 'flex'">Commenter</button>
            <button class="hover" onclick="document.getElementById('modify').style.display = 'flex'">Modifier</button>
            <button class="hover" onclick="document.getElementById('delete').style.display = 'flex'">Supprimer</button>
        </div>
    </div>
    {% if comments %}
        <div class="grid-comment top">
            {% for comment in comments %}
                <div class="box space">
                    <p class="comment">{{ comment['comment'] }}</p>
                    <div class="flex2">
                        <p class="rate">{{ comment['rating'] }}/5</p>
                        <div class="menu-button"
                             onclick="document.getElementById('comm{{ comment['id'] }}').style.display = 'flex'">
                            <div class="square"></div>
                            <div class="square"></div>
                            <div class="square"></div>
                        </div>
                        <div id="comm{{ comment['id'] }}" class="hidden">
                            <div class="menu-bg"
                                 onclick="document.getElementById('comm{{ comment['id'] }}').style.display = 'none'"></div>
                            <form class="menu" action="{{ url_for('commenter') }}?id={{ data['id'] }}" method="post">
                                <button name="signal" value="{{ comment['id'] }}" class="hover" type="submit">
                                    Signaler
                                </button>
                                <button name="modify" value="{{ comment['id'] }}" class="hover" type="submit">
                                    Modifier
                                </button>
                                <button name="delete" value="{{ comment['id'] }}" class="hover" type="submit">
                                    Supprimer
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="popup-bg" id="comment">
        <form class="popup result" action="{{ url_for('commenter') }}?id={{ data['id'] }}" method="post">
            <p class="name">Commenter {{ data['title'] }}</p>
            <label>
                <span>Commentaire</span>
                <textarea name="comment" required></textarea>
            </label>
            <label>
                <span>Note</span>
                <input type="number" name="rating" placeholder="/5" min="0" max="5" required>
            </label>
            <div class="flex">
                <button type="button" class="hover" onclick="document.getElementById('comment').style.display = 'none'">
                    Annuler
                </button>
                <button value="true" class="hover" type="submit">Supprimer</button>
            </div>
        </form>
    </div>
    <div class="popup-bg" id="modify">
        <form class="popup result" action="{{ url_for('modifier') }}?id={{ data['id'] }}"
              method="post">
            <p class="name">Modifier {{ data['title'] }}</p>
            <label>
                <span>Titre</span>
                <input type="text" name="title" value="{{ data['title'] }}"
                       placeholder="{{ data['title'] }}" required>
            </label>
            <label>
                <span>Auteur</span>
                <input type="text" name="author" value="{{ data['author'] }}"
                       placeholder="{{ data['author'] }}" required>
            </label>
            <label>
                <span>Année</span>
                <input type="number" name="year" value="{{ data['year'] }}"
                       placeholder="{{ data['year'] }}" required>
            </label>
            <div class="flex">
                <button class="hover" type="button" onclick="document.getElementById('modify').style.display = 'none'">
                    Annuler
                </button>
                <button class="hover" type="submit">Modifier</button>
            </div>
        </form>
    </div>
    <div class="popup-bg" id="delete">
        <div class="popup result">
            <p>Voulez-vous vraiment supprimer {{ data['title'] }} ?</p>
            <div class="flex">
                <button class="hover" onclick="document.getElementById('delete').style.display = 'none'">Annuler
                </button>
                <form action="{{ url_for('modifier') }}?id={{ data['id'] }}" method="post">
                    <button name="delete" class="hover" type="submit">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
