{% extends 'base.html' %}

{% block title %}Modifier {{ title }}- BookDB{% endblock %}

{% block content %}
    <form action="{{ url_for('appliquer') }}" method="post">
        <h1>Modifier {{ title }}</h1>
        <div class="grid">
            <label>
                <span>Titre*</span>
                <input type="text" name="title" value="{{ title }}" required>
            </label>
            <label>
                <span>Auteur*</span>
                <input type="text" name="author" value="{{ author }}" required>
            </label>
            <label>
                <span>Année*</span>
                <input type="number" name="year" value="{{ year }}" required>
            </label>
            <label>
                <span>Note</span>
                <input type="number" name="rate" value="{{ rate }}" min="0" max="5">
            </label>
        </div>
        <div class="flex blip">
            <label class="comment">
                <span>Commentaire</span>
                <textarea name="comment">{{ comment }}</textarea>
            </label>
            <button class="button hover" type="submit">Ajouter</button>
        </div>
    </form>
{% endblock %}
