{% extends 'base.html' %}

{% block title %}Admin - BooksDB{% endblock %}

{% block content %}
    <h1>Admin</h1>
    <div class="column top">
        {% if data['comments'] %}
            <form action="{{ url_for('post_admin') }}" method="post" class="column">
                <div class="name">Commentaires signalés</div>
                <input type="hidden" name="type" value="comment">
                <div class="column">
                    {% for item in data['comments'] %}
                        <div class="box2">
                            <div>
                                <p class="comm_comm break-word">Ajouté par {{ item['name'] }} {{ date[item['id']] }}</p>
                                <p class="comm_comm break-word">Livre : {{ item['title'] }},
                                    par {{ item['author'] }}</p>
                                <p class="comm_comm break-word">Note : {{ item['rating'] }}/5</p>
                                <p id="id{{ item['id'] }}" class="comm_comm break-word"
                                   onclick="expand('id{{ item['id'] }}')">{{ item['comment'] }}</p>
                            </div>
                            <div class="flex">
                                <button type="submit" name="delete" value="{{ item['id'] }}"
                                        class="icon cross"></button>
                                <button type="submit" name="validate" value="{{ item['id'] }}"
                                        class="icon check"></button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
        {% endif %}
        {% if data['books'] %}
            <form action="{{ url_for('post_admin') }}" method="post" class="column">
                <input type="hidden" name="type" value="book">
                <div class="name">Livres signalés</div>
                <div class="column">
                    {% for item in data['books'] %}
                        <div class="box2">
                            <div>
                                <p class="comm_comm break-word">Titre : {{ item['title'] }}</p>
                                <p class="comm_comm break-word">Auteur : {{ item['author'] }}</p>
                                <p class="comm_comm break-word">Années : {{ item['year'] }}</p>
                                <p class="comm_comm break-word">Ajouté par : {{ item['name'] }}</p>
                            </div>
                            <div class="flex">
                                <button type="submit" name="delete" value="{{ item['id'] }}"
                                        class="icon cross"></button>
                                <button type="submit" name="validate" value="{{ item['id'] }}"
                                        class="icon check"></button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
        {% endif %}
        {% if data['users'] %}
            <form action="{{ url_for('post_admin') }}" method="post" class="column">
                <input type="hidden" name="type" value="user">
                <div class="name">Utilisateurs signalés</div>
                <div class="column">
                    {% for item in data['users'] %}
                        <div class="box2">
                            <div>
                                <p class="comm_comm break-word">Nom : {{ item['name'] }}</p>
                                <p class="comm_comm break-word">Mail : {{ item['email'] }}</p>
                            </div>
                            <div class="flex">
                                <button type="submit" name="delete" value="{{ item['id'] }}"
                                        class="icon cross"></button>
                                <button type="submit" name="validate" value="{{ item['id'] }}"
                                        class="icon check"></button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}
