{% extends 'base.html' %}

{% block title %}{{ data['title'] }} - BooksDB{% endblock %}

{% block content %}
    <div class="flex space">
        <div>
            <h1 class="break-word">{{ data['title'] }}</h1>
            <p class="rate break-word">{{ data['author'] }}, {{ data['year'] }}</p>
        </div>
        <div class="flex">
            {% if comments %}
                <p class="name">{{ average }}/5</p>
            {% endif %}
            <button class="hover" onclick="updateDisplay('comment','flex')">Commenter</button>
            {% if current_user['id'] == data['user_id'] %}
                <button class="hover" onclick="updateDisplay('modify','flex')">Modifier</button>
                <button class="hover" onclick="updateDisplay('delete','flex')">Supprimer</button>
            {% endif %}
        </div>
    </div>
    {% if comments %}
        <div class="column top">
            {% for comment in comments %}

                {#Comment#}
                <div class="box space">
                    <div class="flex space">
                        <div class="flex">
                            <p class="comm_note">{{ comment['rating'] }}/5</p>
                            <div class="flex2">
                                <p class="comm_auteur">{{ comment['name'] }}</p>
                                <p class="comm_date">{{ date[comment['id']] }}</p>
                            </div>
                        </div>
                        {% if current_user.is_authenticated %}
                            <div class="menu-button" tabindex="0" id="{{ comment['id'] }}">
                                <div class="square"></div>
                                <div class="square"></div>
                                <div class="square"></div>
                            </div>
                        {% endif %}
                    </div>
                    <p id="id{{ comment['id'] }}" class="comm_comm break-word"
                       onclick="expand('id{{ comment['id'] }}')">{{ comment['comment'] }}</p>
                </div>

                {% if current_user.is_authenticated %}
                    <form id="comm{{ comment['id'] }}" class="menu-popup" action="{{ url_for('edit') }}"
                          method="post">
                        <input type="hidden" name="book_id" value="{{ data['id'] }}">
                        <input type="hidden" name="comm_id" value="{{ comment['id'] }}">
                        <input type="hidden" name="type" value="comment">
                        {% if current_user['id'] == comment['user_id'] %}
                            <button class="hover"
                                    onclick="updateDisplay('mod{{ comment['id'] }}','flex')"
                                    type="button">
                                Modifier
                            </button>
                            <button name="delete" class="hover" type="submit">
                                Supprimer
                            </button>
                        {% else %}
                            <button name="signal" class="hover" type="submit">
                                Signaler
                            </button>
                        {% endif %}
                    </form>

                    {#Pop-up#}
                    {% if current_user['id'] == comment['user_id'] %}
                        <form class="popup-bg" id="mod{{ comment['id'] }}" action="{{ url_for('edit') }}"
                              method="post">
                            <div class="popup">
                                <p class="name">Modifier le commentaire</p>
                                <input type="hidden" name="book_id" value="{{ data['id'] }}">
                                <input type="hidden" name="comm_id" value="{{ comment['id'] }}">
                                <input type="hidden" name="type" value="comment">
                                <label>
                                    <span>Commentaire</span>
                                    <textarea class="break-word" name="comment"
                                              required>{{ comment['comment'] }}</textarea>
                                </label>
                                <label>
                                    <span>Note</span>
                                    <input class="break-word" type="number" name="rating"
                                           value="{{ comment['rating'] }}"
                                           placeholder="/5" min="0" max="5"
                                           required>
                                </label>
                                <div class="flex">
                                    <button class="hover" type="button"
                                            onclick="updateDisplay('mod{{ comment['id'] }}','none')">
                                        Annuler
                                    </button>
                                    <button name="modify" class="hover" type="submit">
                                        Modifier
                                    </button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        {% if current_user.is_authenticated %}
            <p class="top">Soyez le premier à commenter !</p>
        {% endif %}
    {% endif %}
    {% if current_user.is_authenticated %}
        <div class="popup-bg" id="comment">
            <form class="popup" action="{{ url_for('edit') }}" method="post">
                <p class="name">Commenter {{ data['title'] }}</p>
                <input type="hidden" name="book_id" value="{{ data['id'] }}">
                <input type="hidden" name="type" value="comment">
                <label>
                    <span>Commentaire</span>
                    <textarea class="break-word" name="comment" required></textarea>
                </label>
                <label>
                    <span>Note</span>
                    <input class="break-word" type="number" name="rating" placeholder="/5" min="0" max="5" required>
                </label>
                <div class="flex">
                    <button type="button" class="hover" onclick="updateDisplay('comment','none')">
                        Annuler
                    </button>
                    <button name="add" class="hover" type="submit">Commenter</button>
                </div>
            </form>
        </div>
        {% if current_user['id'] == data['user_id'] %}
            <div class="popup-bg" id="modify">
                <form class="popup" action="{{ url_for('edit') }}"
                      method="post">
                    <p class="name break-word">Modifier {{ data['title'] }}</p>
                    <input type="hidden" name="book_id" value="{{ data['id'] }}">
                    <input type="hidden" name="type" value="book">
                    <label>
                        <span>Titre</span>
                        <input class="break-word" type="text" name="title" value="{{ data['title'] }}"
                               placeholder="{{ data['title'] }}" required>
                    </label>
                    <label>
                        <span>Auteur</span>
                        <input class="break-word" type="text" name="author" value="{{ data['author'] }}"
                               placeholder="{{ data['author'] }}" required>
                    </label>
                    <label>
                        <span>Année</span>
                        <input class="break-word" type="number" name="year" value="{{ data['year'] }}"
                               placeholder="{{ data['year'] }}" required>
                    </label>
                    <div class="flex">
                        <button class="hover" type="button" onclick="updateDisplay('modify','none')">
                            Annuler
                        </button>
                        <button name="modify" class="hover" type="submit">Modifier</button>
                    </div>
                </form>
            </div>
            <div class="popup-bg" id="delete">
                <div class="popup">
                    <p class="break-word">Voulez-vous vraiment supprimer {{ data['title'] }} ?</p>
                    <div class="flex">
                        <button class="hover" onclick="updateDisplay('delete','none')">Annuler</button>
                        <form action="{{ url_for('edit') }}" method="post">
                            <input type="hidden" name="book_id" value="{{ data['id'] }}">
                            <input type="hidden" name="type" value="book">
                            <button name="delete" class="hover" type="submit">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="popup-bg" id="comment">
            <form class="popup">
                <p class="name">Commenter {{ data['title'] }}</p>
                <div>Connectez-vous pour commenter</div>
                <div class="flex">
                    <button type="button" class="hover" onclick="updateDisplay('comment','none')">
                        Annuler
                    </button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
