{% extends 'base.html' %}

{% block title %}{{ data['title'] }} - BooksDB{% endblock %}

{% block content %}
    <div class="flex space">
        <div>
            <h1 class="break-word">{{ data['title'] }}</h1>
            <p class="rate break-word">{{ data['author'] }}, {{ data['year'] }}</p>
        </div>
        <div class="flex">
            {% if comments %}
                <p class="name">{{ average }}/5</p>
            {% endif %}
            {% if current_user.is_authenticated %}
                <button class="hover" onclick="updateDisplay('comment','flex')">Commenter</button>
                <button class="hover" onclick="updateDisplay('modify','flex')">Modifier</button>
                <button class="hover" onclick="updateDisplay('delete','flex')">Supprimer</button>
            {% endif %}
        </div>
    </div>
    {% if not current_user.is_authenticated %}
        <p class="top">Connectez-vous pour commenter</p>
    {% endif %}
    {% if comments %}
        <div class="column top">
            {% for comment in comments %}

                {#Comment#}
                <div class="box space">
                    <div class="flex space">
                        <div class="flex">
                            <p class="comm_note">{{ comment['rating'] }}/5</p>
                            <div class="flex2">
                                <p class="comm_auteur">{{ comment['name'] }}</p>
                                <p class="comm_date">{{ date[comment['id']] }}</p>
                            </div>
                        </div>
                        {% if current_user.is_authenticated %}
                            <div class="menu-button"
                                 onclick="updateDisplay('comm{{ comment['id'] }}','flex')">
                                <div class="square"></div>
                                <div class="square"></div>
                                <div class="square"></div>
                            </div>
                        {% endif %}
                    </div>
                    <p id="{{ comment['id'] }}" class="comm_comm break-word"
                       onclick="expand('{{ comment['id'] }}')">{{ comment['comment'] }}</p>
                </div>

                {% if current_user.is_authenticated %}
                    <div class="popup-bg" id="comm{{ comment['id'] }}">
                        <form class="popup popup2 result" action="{{ url_for('comment') }}?id={{ data['id'] }}"
                              method="post">
                            <button name="signal" value="{{ comment['id'] }}" class="hover" type="submit">
                                Signaler
                            </button>
                            <button class="hover"
                                    onclick="updateDisplay('mod{{ comment['id'] }}','flex')"
                                    type="button">
                                Modifier
                            </button>
                            <button name="delete" value="{{ comment['id'] }}" class="hover" type="submit">
                                Supprimer
                            </button>
                            <button type="button" class="hover"
                                    onclick="updateDisplay('comm{{ comment['id'] }}','none')">
                                Annuler
                            </button>
                        </form>
                    </div>

                    {#Pop-up#}
                    <form class="popup-bg" id="mod{{ comment['id'] }}"
                          action="{{ url_for('comment') }}?id={{ data['id'] }}" method="post">
                        <div class="popup result">
                            <p class="name">Modifier le commentaire</p>
                            <label>
                                <span>Commentaire</span>
                                <textarea class="break-word" name="comment" required>{{ comment['comment'] }}</textarea>
                            </label>
                            <label>
                                <span>Note</span>
                                <input class="break-word" type="number" name="rating" value="{{ comment['rating'] }}"
                                       placeholder="/5" min="0" max="5"
                                       required>
                            </label>
                            <div class="flex">
                                <button class="hover" type="button"
                                        onclick="updateDisplay('mod{{ comment['id'] }}','none')">
                                    Annuler
                                </button>
                                <button name="modify" value="{{ comment['id'] }}" class="hover"
                                        type="submit">
                                    Modifier
                                </button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        {% if current_user.is_authenticated %}
            <p class="top">Soyez le premier à commenter !</p>
        {% endif %}
    {% endif %}
    {% if current_user.is_authenticated %}
        <div class="popup-bg" id="comment">
            <form class="popup result" action="{{ url_for('comment') }}?id={{ data['id'] }}" method="post">
                <p class="name">Commenter {{ data['title'] }}</p>
                <label>
                    <span>Commentaire</span>
                    <textarea class="break-word" name="comment" required></textarea>
                </label>
                <label>
                    <span>Note</span>
                    <input class="break-word" type="number" name="rating" placeholder="/5" min="0" max="5" required>
                </label>
                <div class="flex">
                    <button type="button" class="hover" onclick="updateDisplay('comment','none')">
                        Annuler
                    </button>
                    <button value="true" class="hover" type="submit">Commenter</button>
                </div>
            </form>
        </div>
        <div class="popup-bg" id="modify">
            <form class="popup result" action="{{ url_for('modify') }}?id={{ data['id'] }}"
                  method="post">
                <p class="name break-word">Modifier {{ data['title'] }}</p>
                <label>
                    <span>Titre</span>
                    <input class="break-word" type="text" name="title" value="{{ data['title'] }}"
                           placeholder="{{ data['title'] }}" required>
                </label>
                <label>
                    <span>Auteur</span>
                    <input class="break-word" type="text" name="author" value="{{ data['author'] }}"
                           placeholder="{{ data['author'] }}" required>
                </label>
                <label>
                    <span>Année</span>
                    <input class="break-word" type="number" name="year" value="{{ data['year'] }}"
                           placeholder="{{ data['year'] }}" required>
                </label>
                <div class="flex">
                    <button class="hover" type="button" onclick="updateDisplay('modify','none')">
                        Annuler
                    </button>
                    <button class="hover" type="submit">Modifier</button>
                </div>
            </form>
        </div>
        <div class="popup-bg" id="delete">
            <div class="popup result">
                <p class="break-word">Voulez-vous vraiment supprimer {{ data['title'] }} ?</p>
                <div class="flex">
                    <button class="hover" onclick="updateDisplay('delete','none')">Annuler
                    </button>
                    <form action="{{ url_for('modify') }}?id={{ data['id'] }}" method="post">
                        <button name="delete" class="hover" type="submit">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
