{% extends 'base.html' %}

{% block title %}{{ data['name'] }} - BooksDB{% endblock %}

{% block content %}
    <div class="flex space">
        <div class="column2">
            <h1>{{ data['name'] }}</h1>
            {% if data['admin']==1 %}
                <p class="comm_date">Administrateur</p>
            {% endif %}
        </div>
        {% if current_user['id'] != data['user_id'] and current_user.is_authenticated and data['admin']==0 %}
            <div class="menu-button" tabindex="0" id="book-menu">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
            <form id="comm-book-menu" class="menu-popup" action="{{ url_for('post_user') }}" method="post">
                <input type="hidden" name="user_id" value="{{ data['id'] }}">
                <button type="submit" name="type" value="signal" class="hover">Signaler</button>
            </form>
        {% endif %}
    </div>
    <div class="column top">
        {% if books %}
            <div class="rate">Derniers livres ajoutés</div>
            <div class="column welcome">
                {% for book in books %}
                    <a class="" href="{{ url_for('book') }}?id={{ book['id'] }}">{{ book['title'] }}
                        par {{ book['author'] }}, {{ book['year'] }}</a>
                {% endfor %}
            </div>
        {% endif %}
        {% if comments %}
            <div class="rate">Derniers commentaires ajoutés</div>
            <div class="column welcome">
                {% for comment in comments %}
                    <a class="" href="{{ url_for('book') }}?id={{ comment['book_id'] }}">{{ comment['title'] }}
                        : {{ comment['rating'] }}/5 {{ comment['comment'] }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>


{% endblock %}
